@import "./theme.css";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  user-select: none;
  font-family: var(--font-family-display);
}

.header {
  width: 100%;
  height: 194px;
  background: var(--color-primary);

  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  min-width: 500px;
  max-width: 1080px;
  color: var(--color-white);

  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.logo > h1 {
  font-size: var(--font-size-display-small);
  cursor: pointer;
}

.current-date {
  display: flex;
  align-items: center;
}

.date-display {
  min-width: 120px;
  font-weight: var(--font-weight-display-large);
}

#year,
#month-text {
  font-size: var(--font-size-bold-regular);
  line-height: var(--line-height-bold-regular);
}

#month {
  font-family: var(--font-family-display);
  font-size: var(--font-size-display-large);
  line-height: var(--line-height-display-large);
}

.navigate {
  display: flex;
}

#history,
#calendar,
#chart {
  margin: 10px;
  cursor: pointer;
}

#history:hover path,
#calendar:hover path,
#chart:hover path {
  stroke: var(--color-white);
}

#history.select path,
#calendar.select path,
#chart.select path {
  stroke: var(--color-white);
}

.input-bar {
  width: 100%;

  display: flex;
  justify-content: center;
}

.input-form {
  width: 894px;
  height: 76px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  background: var(--color-white);
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08), 0px 4px 4px rgba(82, 77, 144, 0.1);

  position: absolute;
  top: 162px;
  display: flex;
  align-items: center;
}

.input-form > div {
  padding: 3px 24px;
  border-right: 1px solid #524d90;

  display: flex;
  flex-direction: column;
}

.input-form > div:nth-last-child(2) {
  border-right: 0px;
}

.input-form > div > label {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-bold-regular);
  line-height: var(--line-height-bold-regular);
  color: var(--color-primary-alt);
}

#date,
#price,
#memo,
#payment,
#category {
  width: 88px;
  border: none;
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-bold-large);
  line-height: var(--line-height-body-regular);
  color: var(--color-primary);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
