@import "./reset.css";
@import "./theme.css";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  user-select: none;
}

body {
  background: var(--color-off-white);
}

::placeholder {
  color: var(--color-primary-alt);
}

.display-none {
  display: none !important;
}

.header {
  width: 100%;
  height: 194px;
  background: var(--color-primary);
  font-family: var(--font-family-display);

  display: flex;
  justify-content: center;
}

.header__inner {
  width: 100%;
  min-width: 500px;
  max-width: 1080px;
  color: var(--color-white);

  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.logo__title {
  font-size: var(--font-size-display-small);
  font-weight: var(--font-weight-display-small);
  cursor: pointer;
}

.date-display {
  display: flex;
  align-items: center;
}

.date-display__prev-button,
.date-display__next-button {
  width: 100px;
  height: 100px;

  display: flex;
  cursor: pointer;
}

.date-display__prev-button > img,
.date-display__next-button > img {
  margin: auto;
}

.date-display__month-year {
  min-width: 120px;
  font-weight: var(--font-weight-display-large);
}

.date-display__year,
.date-display__month-name {
  font-size: var(--font-size-bold-regular);
  line-height: var(--line-height-bold-regular);
}

.date-display__month {
  font-family: var(--font-family-display);
  font-size: var(--font-size-display-large);
  line-height: var(--line-height-display-large);
}

.navigate {
  display: flex;
}

.navigate__history,
.navigate__calendar,
.navigate__chart {
  margin: 10px;
  cursor: pointer;
}

.navigate__history:hover path,
.navigate__calendar:hover path,
.navigate__chart:hover path {
  stroke: var(--color-white);
}

.navigate__history--selected path,
.navigate__calendar--selected path,
.navigate__chart--selected path {
  stroke: var(--color-white);
}

.input-bar {
  width: 100%;
  margin-bottom: 90px;

  display: flex;
  justify-content: center;
}

.input-bar__form {
  width: 894px;
  height: 76px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  background: var(--color-white);
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08), 0px 4px 4px rgba(82, 77, 144, 0.1);
  color: var(--color-primary);

  position: absolute;
  top: 162px;
  display: flex;
  align-items: center;
}

.input-bar__form > div {
  padding: 3px 24px;
  border-right: 1px solid #524d90;

  display: flex;
  flex-direction: column;
}

.input-bar__form > div:nth-last-child(2) {
  border-right: 0px;
}

.input-bar__form > div > label {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-bold-regular);
  line-height: var(--line-height-bold-regular);
  color: var(--color-primary-alt);
}

#input-bar__date,
#input-bar__price,
#input-bar__memo,
#input-bar__payment,
#input-bar__category {
  border: none;
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-bold-large);
  line-height: var(--line-height-body-regular);
  color: var(--color-primary);
  background: var(--color-white);
}

.input-bar__transaction-type {
  cursor: pointer;
}

.input-bar__date {
  width: 88px;
}

.input-bar__price {
  width: 134px;
}

.input-bar__price-input {
  display: flex;
  align-items: center;
}

#input-bar__price {
  width: 100%;
  text-align: end;
}

#input-bar__memo {
  width: 164px;
}

#input-bar__payment {
  width: 100px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

.input-bar__payment {
  position: relative;
}

.input-bar__category {
  position: relative;
}

.input-bar__category-text {
  width: 100%;
}

#input-bar__category {
  width: 100px;
  cursor: pointer;

  display: flex;
}

.payment-dropdown,
.category-dropdown {
  position: absolute;
  width: 148px;
  top: 70px;
  left: 0px;
  background: var(--color-white);
  border: 1px solid #524d90;
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08), 0px 4px 4px rgba(82, 77, 144, 0.1);
  border-radius: 8px;
}

.payment-dropdown__ul > li,
.category-dropdown__ul > li {
  width: auto;
  margin: 0px 20px;
  padding: 15px 0px;
  border-bottom: 1px solid var(--color-primary);
  background: #fcfcfc;

  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.payment-dropdown__ul > li:last-of-type,
.category-dropdown__ul > li:last-of-type {
  border-bottom: 0px;
}

.input-bar__submit-button.active {
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
}

.main__inner {
  width: 100%;
  min-width: 500px;
  max-width: 850px;
  color: var(--color-primary);
  font-weight: var(--font-weight-body);
}

.main__no-search-image {
  width: 100%;
}

.content-header {
  width: 100%;
  margin-bottom: 28px;

  display: flex;
  justify-content: space-between;
}

.content-header__list-count {
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body-large);
}

.content-header__total-filter {
  font-size: var(--font-size-body-medium);
  line-height: var(--line-height-body-medium);

  display: flex;
  align-items: center;
  gap: 8px;
}

.content-header__total-filter > img {
  width: 20px;
}

.content-header__total-filter-inner {
  display: flex;
  gap: 4px;
}

.content-info {
  font-size: var(--font-size-bold-medium);
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.content-info__day {
  color: var(--color-primary-alt);
}

.content-info__income-expenditure {
  color: var(--color-primary-alt);

  display: flex;
}

.content-info__date,
.content-info__income-text,
.content-info__expenditure-text,
.content-info__income,
.content-info__expenditure {
  margin-right: 8px;
}

.content-detail {
  margin-bottom: 40px;
}

.content-detail__list {
  padding: 16px;
  border-top: 1px solid var(--color-primary-alt);
  font-family: var(--font-family-bold);
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-display-small);

  display: flex;
  align-items: center;
  gap: 16px;
}

.content-detail__list--selected {
  padding: 16px;
  border-top: 1px solid var(--color-primary-alt);
  font-family: var(--font-family-bold);
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-display-small);
  background: var(--color-white);

  display: flex;
  align-items: center;
  gap: 16px;
}

.content-detail__list:hover {
  background: var(--color-white);
}

.content-detail__list:hover .content-detail__delete-button,
.content-detail__list--selected .content-detail__delete-button {
  color: var(--color-secondary-red);

  display: flex;
  margin-left: 8px;
}

.content-detail__container > li:last-of-type {
  border-bottom: 1px solid var(--color-primary-alt);
  margin-bottom: 33px;
}

.content-detail__category-container {
  border-radius: 25px;
  padding: 4px 0px;
}

.content-detail__category {
  width: 92px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-bold-medium);
  text-align: center;
  color: var(--color-off-white);
}

.content-detail__category-container.living {
  background: var(--color-category-navy);
}

.content-detail__category-container.food {
  background: var(--color-category-blue);
}

.content-detail__category-container.transportation {
  background: var(--color-category-mint);
}

.content-detail__category-container.shopping {
  background: var(--color-category-cyan);
}

.content-detail__category-container.health {
  background: var(--color-category-sky);
}

.content-detail__category-container.culture {
  background: var(--color-category-pink);
}

.content-detail__category-container.etc {
  background: var(--color-category-purple);
}

.content-detail__category-container.salary {
  background: var(--color-category-green);
}

.content-detail__category-container.pocketmoney {
  background: var(--color-category-yellow);
}

.content-detail__category-container.income-etc {
  background: var(--color-category-orange);
}

.content-detail__body {
  width: 100%;
}

.content-detail__payment {
  min-width: 120px;
  color: var(--color-primary-alt);
}

.content-detail__price {
  width: 100%;
  font-family: var(--font-family-bold);

  display: flex;
  align-items: center;
  justify-content: end;
}

.content-detail__price.income {
  color: var(--color-secondary-cyan);
}

.content-detail__price.expenditure {
  color: var(--color-secondary-red);
}

.content-detail__delete-button {
  padding: 3px 8px;
  border: 1px solid var(--color-secondary-red);

  border-radius: 8px;

  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #524d90;
  border-radius: 16px;
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08), 0px 4px 4px rgba(82, 77, 144, 0.1);
  padding: 40px;
  z-index: 200;
  background-color: var(--color-off-white);
}

.modal-content h2 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body-regular);
  line-height: var(--line-height-body-regular);
  color: var(--color-primary);
  margin-bottom: 24px;
}

.modal-content-text {
  width: 320px;
  height: 28px;
  padding: 10px 20px;
  background: var(--color-primary-alt-40);
  border-radius: 8px;
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.modal-content-input {
  width: 320px;
  height: 20px;
  padding: 10px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  margin-bottom: 24px;
}

.modal-button-container {
  display: flex;
  justify-content: space-between;
}

.modal-button-container > button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  font-weight: var(--font-weight-bold);
}

.modal-confirm-button {
  color: var(--color-secondary-red);
}

.modal-add-confirm-button {
  color: var(--color-secondary-yellow);
}
