@import "reset.css";
@import "./theme.css";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  user-select: none;
  font-family: var(--font-family-display);
}

body {
  background: var(--color-off-white);
}

::placeholder {
  color: var(--color-primary-alt);
}

.display-none {
  display: none;
}

.header {
  width: 100%;
  height: 194px;
  background: var(--color-primary);

  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  min-width: 500px;
  max-width: 1080px;
  color: var(--color-white);

  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.logo > h1 {
  font-size: var(--font-size-display-small);
  font-weight: var(--font-weight-display-small);
  cursor: pointer;
}

.header-date-display {
  display: flex;
  align-items: center;
}

.prev-button,
.next-button {
  width: 100px;
  height: 100px;

  display: flex;
  cursor: pointer;
}

.prev-button > img,
.next-button > img {
  margin: auto;
}

.date-display {
  min-width: 120px;
  font-weight: var(--font-weight-display-large);
}

#year,
#month-name {
  font-size: var(--font-size-bold-regular);
  line-height: var(--line-height-bold-regular);
}

#month {
  font-family: var(--font-family-display);
  font-size: var(--font-size-display-large);
  line-height: var(--line-height-display-large);
}

.navigate {
  display: flex;
}

#history,
#calendar,
#chart {
  margin: 10px;
  cursor: pointer;
}

#history:hover path,
#calendar:hover path,
#chart:hover path {
  stroke: var(--color-white);
}

#history.select path,
#calendar.select path,
#chart.select path {
  stroke: var(--color-white);
}

.input-bar {
  width: 100%;
  margin-bottom: 90px;

  display: flex;
  justify-content: center;
}

.input-form {
  width: 894px;
  height: 76px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  background: var(--color-white);
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08), 0px 4px 4px rgba(82, 77, 144, 0.1);
  color: var(--color-primary);

  position: absolute;
  top: 162px;
  display: flex;
  align-items: center;
}

.input-form > div {
  padding: 3px 24px;
  border-right: 1px solid #524d90;

  display: flex;
  flex-direction: column;
}

.input-form > div:nth-last-child(2) {
  border-right: 0px;
}

.input-form > div > label {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-bold-regular);
  line-height: var(--line-height-bold-regular);
  color: var(--color-primary-alt);
}

#date,
#price,
#memo,
#payment,
#category {
  border: none;
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-bold-large);
  line-height: var(--line-height-body-regular);
  color: var(--color-primary);
  background: var(--color-white);
}

.date {
  width: 88px;
}

.price {
  width: 134px;
}

.price-input {
  display: flex;
  align-items: center;
}

#price {
  width: 100%;
  text-align: end;
}

#memo {
  width: 164px;
}

#payment {
  width: 100px;
}

.payment {
  position: relative;
}

.category {
  position: relative;
}

.category-text {
  width: 100%;
}

#category {
  width: 100px;
  display: flex;
}

.payment-dropdown,
.category-dropdown {
  position: absolute;
  width: 148px;
  top: 70px;
  left: 0px;
  background: var(--color-white);
  border: 1px solid #524d90;
  box-shadow: 0px 2px 2px rgba(82, 77, 144, 0.08), 0px 4px 4px rgba(82, 77, 144, 0.1);
  border-radius: 8px;
}

.payment-dropdown-ul > li,
.category-dropdown-ul > li {
  width: auto;
  margin: 0px 20px;
  padding: 15px 0px;
  border-bottom: 1px solid var(--color-primary);
  background: #fcfcfc;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.payment-dropdown-ul > li:last-of-type,
.category-dropdown-ul > li:last-of-type {
  border-bottom: 0px;
}

.main {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  min-width: 500px;
  max-width: 850px;
  color: var(--color-primary);
  font-weight: var(--font-weight-body);
}

.main-header {
  width: 100%;
  margin-bottom: 28px;

  display: flex;
  justify-content: space-between;
}

.list-count {
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body-large);
}

.total-filter {
  font-size: var(--font-size-body-medium);
  line-height: var(--line-height-body-medium);

  display: flex;
  align-items: center;
  gap: 8px;
}

.total-filter > img {
  width: 20px;
}

.content-date-info {
  font-size: var(--font-size-bold-medium);
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.content-day {
  color: var(--color-primary-alt);
}

.content-income-expenditure {
  color: var(--color-primary-alt);

  display: flex;
  gap: 8px;
}

.content-detail-ul > li {
  padding: 16px;
  border-top: 1px solid var(--color-primary-alt);
  font-family: var(--font-family-bold);
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-display-small);

  display: flex;
  align-items: center;
  gap: 16px;
}

.content-detail-ul > li:last-of-type {
  border-bottom: 1px solid var(--color-primary-alt);
}

.content-detail-category-container {
  border-radius: 25px;
  padding: 4px 0px;
}

.content-detail-category {
  width: 92px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-bold-medium);
  text-align: center;
  color: var(--color-off-white);
}

.content-detail-category-container.living {
  background: var(--color-category-navy);
}

.content-detail-category-container.food {
  background: var(--color-category-blue);
}

.content-detail-category-container.transportation {
  background: var(--color-category-mint);
}

.content-detail-category-container.shopping {
  background: var(--color-category-cyan);
}

.content-detail-category-container.health {
  background: var(--color-category-sky);
}

.content-detail-category-container.culture {
  background: var(--color-category-pink);
}

.content-detail-category-container.etc {
  background: var(--color-category-purple);
}

.content-detail-category-container.salary {
  background: var(--color-category-green);
}

.content-detail-category-container.pocketmoney {
  background: var(--color-category-yellow);
}

.content-detail-category-container.income-etc {
  background: var(--color-category-orange);
}

.content-detail-body {
  width: 100%;
}

.content-detail-payment {
  min-width: 120px;
  text-align: center;
  color: var(--color-primary-alt);
}

.content-detail-price {
  width: 100%;
  text-align: end;
  font-family: var(--font-family-bold);
}

.content-detail-price.income {
  color: var(--color-secondary-cyan);
}

.content-detail-price.expenditure {
  color: var(--color-secondary-red);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
