* {
  user-select: none;
}

.header {
  width: 100%;
  height: 194px;
  background: #524d90;

  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  min-width: 500px;
  max-width: 1080px;
  color: #fcfcfc;

  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.logo > h1 {
  font-family: "Outfit";
  font-size: 24px;
  cursor: pointer;
}

.current-date {
  display: flex;
  align-items: center;
}

.date-display {
  min-width: 120px;
  font-style: normal;
  font-weight: 700;
}

#year,
#month-text {
  font-family: "Pretendard";
  font-size: 12px;
  line-height: 16px;
}

#month {
  font-family: "Outfit";
  font-size: 48px;
  line-height: 56px;
}

.navigate {
  display: flex;
}

#history,
#calendar,
#chart {
  margin: 10px;
  cursor: pointer;
}

#history:hover path,
#calendar:hover path,
#chart:hover path {
  stroke: #fcfcfc;
}

#history.select path,
#calendar.select path,
#chart.select path {
  stroke: #fcfcfc;
}
